/*
 * Tailwind CSS - Arquivo gerado
 * 
 * IMPORTANTE: Este arquivo é gerado automaticamente.
 * Para gerar/atualizar este arquivo, execute:
 * 
 *    npm install
 *    npm run build
 * 
 * Ou para desenvolvimento com watch mode:
 * 
 *    npm run dev
 */

/* Arquivo temporário - será substituído pelo build do Tailwind */
/* Execute 'npm install' e 'npm run build' para gerar o CSS completo e otimizado */

